In [1]:
import numpy as np
import pandas as pd

# Main table

In [2]:
# Reading in the gzipped tsv file
mainDF = pd.read_table('https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/FISH_LD_MAIN/?format=TSV&compressed=true&i', compression='gzip')
mainDF

,"freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,"A,CLA,BSS,TOTAL,HCN,EUR,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,"A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,"A,CLA,BSS,TOTAL,HCN,EUR_T,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,"A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,"A,WHL,WIT,TOTAL,IND,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,"A,WHL,WIT,TOTAL,IND,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,"A,WHL,WIT,TOTAL,TOTAL,EUR,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,"A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,"A,WHL,WIT,TOTAL,TOTAL,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

The first 7 columns were separated by commas and the rest with tabs. It's also obvious that there is a white space at the end of every numerical column name, so I removed these white spaces with ```rename``` and ```str.strip()``` methods

In [3]:
# Showing all columns names
list(mainDF.keys())

['freq,pres,species,natvessr,dest_use,unit,geo\\TIME_PERIOD',
 '2000 ',
 '2001 ',
 '2002 ',
 '2003 ',
 '2004 ',
 '2005 ',
 '2006 ',
 '2007 ',
 '2008 ',
 '2009 ',
 '2010 ',
 '2011 ',
 '2012 ',
 '2013 ',
 '2014 ',
 '2015 ',
 '2016 ',
 '2017 ',
 '2018 ',
 '2019 ',
 '2020 ',
 '2021 ']

In [4]:
# removing white spaces from column names with rename and str.strip() methods
mainDF = mainDF.rename(columns=lambda x: x.strip()) # inplace not suitable here!
mainDF

,"freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,"A,CLA,BSS,TOTAL,HCN,EUR,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,"A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,"A,CLA,BSS,TOTAL,HCN,EUR_T,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,"A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,"A,WHL,WIT,TOTAL,IND,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,"A,WHL,WIT,TOTAL,IND,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,"A,WHL,WIT,TOTAL,TOTAL,EUR,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,"A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,"A,WHL,WIT,TOTAL,TOTAL,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

In [5]:
list(mainDF.keys())

['freq,pres,species,natvessr,dest_use,unit,geo\\TIME_PERIOD',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

Showing first cell of the table to make sure the first columns separated by commas are grouped

In [7]:
mainDF.loc[0][0]

'A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020'

In [8]:
# Second cell from first row
mainDF.loc[0][1]

': '

In the preparation of the data frame I created and merged two intermediary data frames containing:
1) The categorical columns (first seven)  
2) The columns with years and weights  
  
-> It also took extra actions for the column "geo", since it was between comma and tab separated values

### Handling the categorical colums

In [9]:
# Reading in the gzipped tsv file
categoricalDF = pd.read_table('https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/FISH_LD_MAIN/?format=TSV&compressed=true&i', compression='gzip', usecols = [0,1,2,3,4,5,6], delimiter=',')
categoricalDF

,freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD\t2000 \t2001 \t2002 \t2003 \t2004 \t2005 \t2006 \t2007 \t2008 \t2009 \t2010 \t2011 \t2012 \t2013 \t2014 \t2015 \t2016 \t2017 \t2018 \t2019 \t2020 \t2021
0,A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
1,A,CLA,BSS,TOTAL,HCN,EUR,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
2,A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
3,A,CLA,BSS,TOTAL,HCN,EUR_T,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
4,A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
...,...,...,...,...,...,...,...
382231,A,WHL,WIT,TOTAL,IND,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382232,A,WHL,WIT,TOTAL,IND,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382233,A,WHL,WIT,TOTAL,TOTAL,EUR,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382234,A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382235,A,WHL,WIT,TOTAL,TOTAL,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...

In [10]:
# Renaming the last column as just "geo"
categoricalDF.rename(columns = {'geo\TIME_PERIOD\t2000 \t2001 \t2002 \t2003 \t2004 \t2005 \t2006 \t2007 \t2008 \t2009 \t2010 \t2011 \t2012 \t2013 \t2014 \t2015 \t2016 \t2017 \t2018 \t2019 \t2020 \t2021 ':'geo'}, inplace = True)
categoricalDF

,freq,pres,species,natvessr,dest_use,unit,geo
0,A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
1,A,CLA,BSS,TOTAL,HCN,EUR,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
2,A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
3,A,CLA,BSS,TOTAL,HCN,EUR_T,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
4,A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
...,...,...,...,...,...,...,...
382231,A,WHL,WIT,TOTAL,IND,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382232,A,WHL,WIT,TOTAL,IND,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382233,A,WHL,WIT,TOTAL,TOTAL,EUR,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382234,A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382235,A,WHL,WIT,TOTAL,TOTAL,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...

Checking the values of the column "geo", selected the first string of each cell and counted occurrences of all unique values

In [11]:
categoricalDF['geo'].str.split().str.get(0).value_counts()

EU           61867
EU27_2020    60476
EU28         53024
ES           49270
PT           21234
FR           16844
UK           12163
NO           11757
NL           11276
IE           10147
DK            8891
SE            8423
IT            8302
DE            6617
MT            5418
IS            4479
CY            4455
BE            3596
EL            3240
SI            3148
HR            3120
LT            2900
TR            2295
PL            2208
EE            2015
BG            1927
LV            1302
RO             936
FI             906
Name: geo, dtype: int64

In [12]:
# Updating the values of the column "geo" with the first string only 
categoricalDF['geo'] = categoricalDF['geo'].str.split().str.get(0)
categoricalDF

       freq pres species natvessr dest_use   unit        geo
0         A  CLA     BSS    TOTAL      HCN    EUR  EU27_2020
1         A  CLA     BSS    TOTAL      HCN    EUR         NL
2         A  CLA     BSS    TOTAL      HCN  EUR_T  EU27_2020
3         A  CLA     BSS    TOTAL      HCN  EUR_T         NL
4         A  CLA     BSS    TOTAL      HCN    TPW  EU27_2020
...     ...  ...     ...      ...      ...    ...        ...
382231    A  WHL     WIT    TOTAL      IND  EUR_T         NO
382232    A  WHL     WIT    TOTAL      IND    TPW         NO
382233    A  WHL     WIT    TOTAL    TOTAL    EUR         NO
382234    A  WHL     WIT    TOTAL    TOTAL  EUR_T         NO
382235    A  WHL     WIT    TOTAL    TOTAL    TPW         NO

[382236 rows x 7 columns]

 -> Selecting cuantitative columns on another data frame

In [13]:
cuantitativeColumns = mainDF.drop('freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD', axis=1)
cuantitativeColumns

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

-> Merging both data frames

In [14]:
mainDF = pd.concat([categoricalDF, cuantitativeColumns], axis=1)
mainDF

,freq,pres,species,natvessr,dest_use,unit,geo,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,A,CLA,BSS,TOTAL,HCN,EUR,NL,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,A,CLA,BSS,TOTAL,HCN,EUR_T,NL,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,A,WHL,WIT,TOTAL,IND,EUR_T,NO,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,A,WHL,WIT,TOTAL,IND,TPW,NO,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,A,WHL,WIT,TOTAL,TOTAL,EUR,NO,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,A,WHL,WIT,TOTAL,TOTAL,TPW,NO,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

Since the columns "freq" (frequency) and "natvessr" (Nationality of registration of vessel) have one unique value (A and TOTAL respecitvely), I dropped them:

In [15]:
print(mainDF['freq'].value_counts(),'\n\n',mainDF['natvessr'].value_counts())

A    382236
Name: freq, dtype: int64

 TOTAL    382236
Name: natvessr, dtype: int64

In [16]:
mainDF.drop(['freq','natvessr'], axis=1, inplace = True) # inplace to save memory
mainDF

,pres,species,dest_use,unit,geo,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CLA,BSS,HCN,EUR,EU27_2020,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,CLA,BSS,HCN,EUR,NL,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,CLA,BSS,HCN,EUR_T,EU27_2020,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,CLA,BSS,HCN,EUR_T,NL,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,CLA,BSS,HCN,TPW,EU27_2020,:,:,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,WHL,WIT,IND,EUR_T,NO,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,WHL,WIT,IND,TPW,NO,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,WHL,WIT,TOTAL,EUR,NO,:,:,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,WHL,WIT,TOTAL,EUR_T,NO,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,WHL,WIT,TOTAL,TPW,NO,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

### General check

In [17]:
mainDF.shape

(382236, 27)

In [18]:
mainDF.describe()

,pres,species,dest_use,unit,geo,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,382236,382236,382236,382236,382236,382236,382236,382236,382236,382236,...,382236,382236,382236,382236,382236,382236,382236,382236,382236,382236
unique,41,1529,3,3,29,9536,10747,15516,15438,18491,...,31431,35846,34067,35759,37452,34602,32098,34992,32435,22448
top,TOTAL,F00,TOTAL,TPW,EU,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
freq,63718,3448,182720,132709,61867,353973,344801,327168,327709,314187,...,215673,188104,194346,175071,168495,166855,241292,234083,246074,288458

-> They are all strings:

In [19]:
mainDF.dtypes

pres        object
species     object
dest_use    object
unit        object
geo         object
2000        object
2001        object
2002        object
2003        object
2004        object
2005        object
2006        object
2007        object
2008        object
2009        object
2010        object
2011        object
2012        object
2013        object
2014        object
2015        object
2016        object
2017        object
2018        object
2019        object
2020        object
2021        object
dtype: object

In [20]:
print(mainDF.loc[382235][24])
type(mainDF.loc[382235][24])

0.4

str

CONTANDO  (p), (e) y (c)

In [21]:
mainDF['2021'].str.contains('p|e').sum()

16920

IRISH DATA FRAME

In [27]:
irishDF = mainDF[mainDF['geo'] == 'IE']
irishDF

,pres,species,dest_use,unit,geo,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
92,CLA,CRE,HCN,EUR,IE,:,:,:,:,:,...,:,:,:,2279.2,4625.9132,8006.8901,22849.4278,17183.671,:,114224.3198
105,CLA,CRE,HCN,EUR_T,IE,:,:,:,:,:,...,:,:,:,468.9712,627.668,600.4417,756.1166,853.0289,:,4785.1065
118,CLA,CRE,HCN,TPW,IE,:,:,:,:,:,...,:,:,:,4.86,7.37,13.335,30.2195,20.1443,:,23.8708
143,CLA,CRE,TOTAL,EUR,IE,:,:,:,:,:,...,:,:,:,2279.2,4625.9132,8006.8901,22849.4278,17183.671,: c,: c
156,CLA,CRE,TOTAL,EUR_T,IE,:,:,:,:,:,...,:,:,:,468.9712,627.668,600.4417,756.1166,853.0289,: c,: c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381432,UNK,WRF,TOTAL,EUR_T,IE,:,:,:,:,:,...,2000,:,:,:,2000,2000 e,: c,:,:,:
381436,UNK,WRF,TOTAL,TPW,IE,:,:,:,:,:,...,1.099,:,:,:,0.162,0.373 e,: c,:,:,:
381444,UNK,YRS,TOTAL,EUR,IE,:,:,:,:,:,...,:,:,:,:,:,:,: c,:,:,:
381446,UNK,YRS,TOTAL,EUR_T,IE,:,:,:,:,:,...,:,:,:,:,:,:,: c,:,:,:
381448,UNK,YRS,TOTAL,TPW,IE,:,:,:,:,:,...,:,:,:,:,:,:,: c,:,:,: