In [1]:
import numpy as np
import pandas as pd

In [66]:
test = pd.read_table('https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/fish_ld_ie.tsv.gz')
test

,"species,pres,dest_use,unit,natvessr,geo\time",2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992
0,"ABX,FRE,HCN,TPW,EU,IE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,"ABX,FRE,HCN,TPW,TOTAL,IE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"ABX,FRE,TOTAL,TPW,EU,IE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"ABX,FRE,TOTAL,TPW,TOTAL,IE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,"ABX,FRE_WHL,HCN,TPW,EU,IE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64985,"ZEX,TOTAL,UNK,EUR_T,IE,IE",:,: c,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64986,"ZEX,TOTAL,UNK,EUR_T,TOTAL,IE",:,: c,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64987,"ZEX,TOTAL,UNK,TPW,EU,IE",:,: c,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64988,"ZEX,TOTAL,UNK,TPW,IE,IE",:,: c,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64989,"ZEX,TOTAL,UNK,TPW,TOTAL,IE",:,: c,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [65]:
test.loc[0][0]

'ABX,FRE,HCN,TPW,EU,IE'

In [67]:
list(test.keys())

['species,pres,dest_use,unit,natvessr,geo\\time',
 '2021 ',
 '2020 ',
 '2019 ',
 '2018 ',
 '2017 ',
 '2016 ',
 '2015 ',
 '2014 ',
 '2013 ',
 '2012 ',
 '2011 ',
 '2010 ',
 '2009 ',
 '2008 ',
 '2007 ',
 '2006 ',
 '2005 ',
 '2004 ',
 '2003 ',
 '2002 ',
 '2001 ',
 '2000 ',
 '1999 ',
 '1998 ',
 '1997 ',
 '1996 ',
 '1995 ',
 '1994 ',
 '1993 ',
 '1992 ']

In [74]:
test.loc[31]

species,pres,dest_use,unit,natvessr,geo\time    ALB,FRE,IND,EUR,TOTAL,IE
2021                                                                  :
2020                                                                  :
2019                                                                  :
2018                                                                  :
2017                                                                  :
2016                                                                  :
2015                                                                  :
2014                                                                  :
2013                                                                  :
2012                                                                  :
2011                                                                  :
2010                                                                  :
2009                                                                  :
2008                                                                  :
2007                                                                  :
2006                                                                  :
2005                                                                  :
2004                                                                  :
2003                                                                  :
2002                                                                  :
2001                                                                  :
2000                                                                  :
1999                                                              46193
1998                                                                  :
1997                                                                  :
1996                                                                  :
1995                                                                  :
1994                                                                  :
1993                                                                  :
1992                                                                  :
Name: 31, dtype: object

### columnas con años separadas con éxito,

In [90]:
drop = test.drop('species,pres,dest_use,unit,natvessr,geo\\time', axis=1)
drop

,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992
0,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64985,:,: c,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64986,:,: c,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64987,:,: c,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64988,:,: c,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
64989,:,: c,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [85]:
drop.loc[0][0]

': '

### LA COLUMNA ENTRE MEDIAS

In [46]:
dfIE = pd.read_table('https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/fish_ld_ie.tsv.gz', usecols = [0,1,2,3,4,5], delimiter=',')

In [99]:
dfIE

,species,pres,dest_use,unit,natvessr,geo\time\t2021 \t2020 \t2019 \t2018 \t2017 \t2016 \t2015 \t2014 \t2013 \t2012 \t2011 \t2010 \t2009 \t2008 \t2007 \t2006 \t2005 \t2004 \t2003 \t2002 \t2001 \t2000 \t1999 \t1998 \t1997 \t1996 \t1995 \t1994 \t1993 \t1992
0,ABX,FRE,HCN,TPW,EU,IE\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
1,ABX,FRE,HCN,TPW,TOTAL,IE\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
2,ABX,FRE,TOTAL,TPW,EU,IE\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
3,ABX,FRE,TOTAL,TPW,TOTAL,IE\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
4,ABX,FRE_WHL,HCN,TPW,EU,IE\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
...,...,...,...,...,...,...
64985,ZEX,TOTAL,UNK,EUR_T,IE,IE\t: \t: c\t: \t: \t: \t: \t: \t: \t: \t: \t:...
64986,ZEX,TOTAL,UNK,EUR_T,TOTAL,IE\t: \t: c\t: \t: \t: \t: \t: \t: \t: \t: \t:...
64987,ZEX,TOTAL,UNK,TPW,EU,IE\t: \t: c\t: \t: \t: \t: \t: \t: \t: \t: \t:...
64988,ZEX,TOTAL,UNK,TPW,IE,IE\t: \t: c\t: \t: \t: \t: \t: \t: \t: \t: \t:...
64989,ZEX,TOTAL,UNK,TPW,TOTAL,IE\t: \t: c\t: \t: \t: \t: \t: \t: \t: \t: \t:...

In [110]:
kitDF = dfIE['geo\\time\t2021 \t2020 \t2019 \t2018 \t2017 \t2016 \t2015 \t2014 \t2013 \t2012 \t2011 \t2010 \t2009 \t2008 \t2007 \t2006 \t2005 \t2004 \t2003 \t2002 \t2001 \t2000 \t1999 \t1998 \t1997 \t1996 \t1995 \t1994 \t1993 \t1992 ']

In [116]:
# STRING SELECCIONADA!!!
kitDF.str.split().str.get(0)

0        IE
1        IE
2        IE
3        IE
4        IE
         ..
64985    IE
64986    IE
64987    IE
64988    IE
64989    IE
Name: geo\time\t2021 \t2020 \t2019 \t2018 \t2017 \t2016 \t2015 \t2014 \t2013 \t2012 \t2011 \t2010 \t2009 \t2008 \t2007 \t2006 \t2005 \t2004 \t2003 \t2002 \t2001 \t2000 \t1999 \t1998 \t1997 \t1996 \t1995 \t1994 \t1993 \t1992 , Length: 64990, dtype: object

In [115]:
kitDF.str.split().str.get(0).unique()

array(['IE'], dtype=object)

In [38]:
dfIE2 = pd.read_table('https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/fish_ld_ie.tsv.gz', usecols = (5,6))

In [43]:
dfIE.loc[0][4]

'EU'

### Uniendo dos df verticalmente

In [41]:
pd.concat([dfIE, dfIE2], axis=1)

      species     pres dest_use   unit natvessr 2017  2016
0         ABX      FRE      HCN    TPW       EU    :     :
1         ABX      FRE      HCN    TPW    TOTAL    :     :
2         ABX      FRE    TOTAL    TPW       EU    :     :
3         ABX      FRE    TOTAL    TPW    TOTAL    :     :
4         ABX  FRE_WHL      HCN    TPW       EU    :     :
...       ...      ...      ...    ...      ...   ...   ...
64985     ZEX    TOTAL      UNK  EUR_T       IE    :     :
64986     ZEX    TOTAL      UNK  EUR_T    TOTAL    :     :
64987     ZEX    TOTAL      UNK    TPW       EU    :     :
64988     ZEX    TOTAL      UNK    TPW       IE    :     :
64989     ZEX    TOTAL      UNK    TPW    TOTAL    :     :

[64990 rows x 7 columns]