In [1]:
import numpy as np
import pandas as pd

# Main table

In [2]:
# Reading in the gzipped tsv file
mainDF = pd.read_table('https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/FISH_LD_MAIN/?format=TSV&compressed=true&i', compression='gzip')
mainDF

,"freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,"A,CLA,BSS,TOTAL,HCN,EUR,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,"A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,"A,CLA,BSS,TOTAL,HCN,EUR_T,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,"A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,"A,WHL,WIT,TOTAL,IND,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,"A,WHL,WIT,TOTAL,IND,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,"A,WHL,WIT,TOTAL,TOTAL,EUR,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,"A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,"A,WHL,WIT,TOTAL,TOTAL,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

The first 7 columns were separated by commas and the rest with tabs. It's also obvious that there is a white space at the end of every numerical column name, so I removed these white spaces with ```rename``` and ```str.strip()``` methods

In [3]:
# Showing all columns names
list(mainDF.keys())

['freq,pres,species,natvessr,dest_use,unit,geo\\TIME_PERIOD',
 '2000 ',
 '2001 ',
 '2002 ',
 '2003 ',
 '2004 ',
 '2005 ',
 '2006 ',
 '2007 ',
 '2008 ',
 '2009 ',
 '2010 ',
 '2011 ',
 '2012 ',
 '2013 ',
 '2014 ',
 '2015 ',
 '2016 ',
 '2017 ',
 '2018 ',
 '2019 ',
 '2020 ',
 '2021 ']

In [4]:
# removing white spaces from column names with rename and str.strip() methods
mainDF = mainDF.rename(columns=lambda x: x.strip()) # inplace not suitable here!
mainDF

,"freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,"A,CLA,BSS,TOTAL,HCN,EUR,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,"A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,"A,CLA,BSS,TOTAL,HCN,EUR_T,NL",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,"A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,"A,WHL,WIT,TOTAL,IND,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,"A,WHL,WIT,TOTAL,IND,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,"A,WHL,WIT,TOTAL,TOTAL,EUR,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,"A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,"A,WHL,WIT,TOTAL,TOTAL,TPW,NO",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

In [5]:
list(mainDF.keys())

['freq,pres,species,natvessr,dest_use,unit,geo\\TIME_PERIOD',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

Showing first cell of the table to make sure the first columns separated by commas are grouped

In [6]:
mainDF.loc[0][0]

'A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020'

In [7]:
# Second cell from first row
mainDF.loc[0][1]

': '

In the preparation of the data frame I created and merged two intermediary data frames containing:
1) The categorical columns (first seven)  
2) The columns with years and weights  
  
-> It also took extra actions for the column "geo", since it was between comma and tab separated values

### Handling the categorical colums

In [8]:
# Reading in the gzipped tsv file
categoricalDF = pd.read_table('https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/FISH_LD_MAIN/?format=TSV&compressed=true&i', compression='gzip', usecols = [0,1,2,3,4,5,6], delimiter=',')
categoricalDF

,freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD\t2000 \t2001 \t2002 \t2003 \t2004 \t2005 \t2006 \t2007 \t2008 \t2009 \t2010 \t2011 \t2012 \t2013 \t2014 \t2015 \t2016 \t2017 \t2018 \t2019 \t2020 \t2021
0,A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
1,A,CLA,BSS,TOTAL,HCN,EUR,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
2,A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
3,A,CLA,BSS,TOTAL,HCN,EUR_T,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
4,A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
...,...,...,...,...,...,...,...
382231,A,WHL,WIT,TOTAL,IND,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382232,A,WHL,WIT,TOTAL,IND,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382233,A,WHL,WIT,TOTAL,TOTAL,EUR,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382234,A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382235,A,WHL,WIT,TOTAL,TOTAL,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...

In [9]:
# Renaming the last column as just "geo"
categoricalDF.rename(columns = {'geo\TIME_PERIOD\t2000 \t2001 \t2002 \t2003 \t2004 \t2005 \t2006 \t2007 \t2008 \t2009 \t2010 \t2011 \t2012 \t2013 \t2014 \t2015 \t2016 \t2017 \t2018 \t2019 \t2020 \t2021 ':'geo'}, inplace = True)
categoricalDF

,freq,pres,species,natvessr,dest_use,unit,geo
0,A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
1,A,CLA,BSS,TOTAL,HCN,EUR,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
2,A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
3,A,CLA,BSS,TOTAL,HCN,EUR_T,NL\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
4,A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020\t: \t: \t: \t: \t: \t: \t: \t: \t: \...
...,...,...,...,...,...,...,...
382231,A,WHL,WIT,TOTAL,IND,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382232,A,WHL,WIT,TOTAL,IND,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382233,A,WHL,WIT,TOTAL,TOTAL,EUR,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382234,A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...
382235,A,WHL,WIT,TOTAL,TOTAL,TPW,NO\t: \t: \t: \t: \t: \t: \t: \t: \t: \t: \t: ...

Checking the values of the column "geo", selected the first string of each cell and counted occurrences of all unique values

In [10]:
categoricalDF['geo'].str.split().str.get(0).value_counts()

EU           61867
EU27_2020    60476
EU28         53024
ES           49270
PT           21234
FR           16844
UK           12163
NO           11757
NL           11276
IE           10147
DK            8891
SE            8423
IT            8302
DE            6617
MT            5418
IS            4479
CY            4455
BE            3596
EL            3240
SI            3148
HR            3120
LT            2900
TR            2295
PL            2208
EE            2015
BG            1927
LV            1302
RO             936
FI             906
Name: geo, dtype: int64

In [11]:
# Updating the values of the column "geo" with the first string only 
categoricalDF['geo'] = categoricalDF['geo'].str.split().str.get(0)
categoricalDF

       freq pres species natvessr dest_use   unit        geo
0         A  CLA     BSS    TOTAL      HCN    EUR  EU27_2020
1         A  CLA     BSS    TOTAL      HCN    EUR         NL
2         A  CLA     BSS    TOTAL      HCN  EUR_T  EU27_2020
3         A  CLA     BSS    TOTAL      HCN  EUR_T         NL
4         A  CLA     BSS    TOTAL      HCN    TPW  EU27_2020
...     ...  ...     ...      ...      ...    ...        ...
382231    A  WHL     WIT    TOTAL      IND  EUR_T         NO
382232    A  WHL     WIT    TOTAL      IND    TPW         NO
382233    A  WHL     WIT    TOTAL    TOTAL    EUR         NO
382234    A  WHL     WIT    TOTAL    TOTAL  EUR_T         NO
382235    A  WHL     WIT    TOTAL    TOTAL    TPW         NO

[382236 rows x 7 columns]

 -> Selecting cuantitative columns on another data frame

In [12]:
cuantitativeColumns = mainDF.drop('freq,pres,species,natvessr,dest_use,unit,geo\TIME_PERIOD', axis=1)
cuantitativeColumns

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
1,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,19.396 e,:,:,:
2,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
3,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9698 e,:,:,:
4,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,0.002 e,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382232,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:
382233,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,130.9787,:,:
382234,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,327.4467,:,:
382235,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,0.4,:,:

Before merging both data frames I checked the number of (c), (p) and (e) observations

In [13]:
print('year\tconfidential\tprovisional\testimated\n-------------------------------------------------') # header of the table. /t represents a TAB and /n is the new line character
for column in cuantitativeColumns:
    print(column, '\t', f"{cuantitativeColumns[column].str.contains('c').sum():>5}", '\t\t', f"{cuantitativeColumns[column].str.contains('p').sum():>5}", '\t\t', f"{cuantitativeColumns[column].str.contains('e').sum():>5}")
    # added format to align numbers to the right

year	confidential	provisional	estimated
-------------------------------------------------
2000 	     0 		     0 		     0
2001 	     0 		     0 		     0
2002 	     0 		     0 		     0
2003 	     0 		     0 		     0
2004 	     0 		     0 		     0
2005 	     0 		     0 		     0
2006 	     0 		     0 		     0
2007 	     0 		     0 		     0
2008 	     0 		     0 		     0
2009 	     0 		     0 		     0
2010 	     0 		     0 		     0
2011 	     0 		     0 		     0
2012 	  2304 		     0 		     0
2013 	  2664 		     0 		     0
2014 	  2664 		     0 		     0
2015 	  3888 		     0 		     0
2016 	  5760 		     0 		     0
2017 	 18603 		     0 		 14571
2018 	 10729 		 23346 		  9178
2019 	 10908 		 27032 		 11573
2020 	  6326 		 24904 		 10113
2021 	  4577 		  9558 		  7362

The count of "c" and ": c" matches, therefore no confidential data is provided

In [14]:
# Checking the count of ": c" per column
for column in cuantitativeColumns:
    print(column, '\t', f"{cuantitativeColumns[column].str.contains(': c').sum():>5}")

2000 	     0
2001 	     0
2002 	     0
2003 	     0
2004 	     0
2005 	     0
2006 	     0
2007 	     0
2008 	     0
2009 	     0
2010 	     0
2011 	     0
2012 	  2304
2013 	  2664
2014 	  2664
2015 	  3888
2016 	  5760
2017 	 18603
2018 	 10729
2019 	 10908
2020 	  6326
2021 	  4577

Removing flags from the cells so that they can be converted to floats

In [15]:
# Selecting the first string of each cell which holds the number that will be turned into a float.This for loop iterates through the entire data frame and updates each cell with its corresponding first string only
for column in cuantitativeColumns:
    cuantitativeColumns[column] = cuantitativeColumns[column].str.split().str.get(0)

Before converting to floats I checked the number of colons in the data frame, which actually is the most common value in the df

In [16]:
colonCount = cuantitativeColumns.stack().value_counts().head(1)

In [17]:
# another similar for loop for the conversion to floats. Cohercing errors returns NaN instead of erroring out (when the input is a colon)
for column in cuantitativeColumns:
    cuantitativeColumns[column] = pd.to_numeric(cuantitativeColumns[column], errors='coerce')

Checking the data types

In [34]:
cuantitativeColumns.dtypes

2000    float64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
2020    float64
2021    float64
dtype: object

Counting the occurrences of NaN's

In [19]:
nanCount = cuantitativeColumns.isnull().sum().sum()

All the numbers were converted to float data type

In [20]:
colonCount == nanCount

:    True
dtype: bool

-> Merging cuantitative and qualitative data frames

In [21]:
mainDF = pd.concat([categoricalDF, cuantitativeColumns], axis=1)
mainDF

,freq,pres,species,natvessr,dest_use,unit,geo,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,A,CLA,BSS,TOTAL,HCN,EUR,EU27_2020,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.396,NaN,NaN,NaN
1,A,CLA,BSS,TOTAL,HCN,EUR,NL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.396,NaN,NaN,NaN
2,A,CLA,BSS,TOTAL,HCN,EUR_T,EU27_2020,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9698.000,NaN,NaN,NaN
3,A,CLA,BSS,TOTAL,HCN,EUR_T,NL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9698.000,NaN,NaN,NaN
4,A,CLA,BSS,TOTAL,HCN,TPW,EU27_2020,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.002,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,A,WHL,WIT,TOTAL,IND,EUR_T,NO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.4467,NaN,NaN
382232,A,WHL,WIT,TOTAL,IND,TPW,NO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4000,NaN,NaN
382233,A,WHL,WIT,TOTAL,TOTAL,EUR,NO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.9787,NaN,NaN
382234,A,WHL,WIT,TOTAL,TOTAL,EUR_T,NO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.4467,NaN,NaN
382235,A,WHL,WIT,TOTAL,TOTAL,TPW,NO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4000,NaN,NaN

Since the columns "freq" (frequency) and "natvessr" (Nationality of registration of vessel) have one unique value (A and TOTAL respecitvely), I dropped them:

In [22]:
print(mainDF['freq'].value_counts(),'\n\n',mainDF['natvessr'].value_counts())

A    382236
Name: freq, dtype: int64

 TOTAL    382236
Name: natvessr, dtype: int64

In [23]:
mainDF.drop(['freq','natvessr'], axis=1, inplace = True) # inplace to save memory
mainDF

,pres,species,dest_use,unit,geo,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CLA,BSS,HCN,EUR,EU27_2020,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.396,NaN,NaN,NaN
1,CLA,BSS,HCN,EUR,NL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.396,NaN,NaN,NaN
2,CLA,BSS,HCN,EUR_T,EU27_2020,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9698.000,NaN,NaN,NaN
3,CLA,BSS,HCN,EUR_T,NL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9698.000,NaN,NaN,NaN
4,CLA,BSS,HCN,TPW,EU27_2020,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.002,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382231,WHL,WIT,IND,EUR_T,NO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.4467,NaN,NaN
382232,WHL,WIT,IND,TPW,NO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4000,NaN,NaN
382233,WHL,WIT,TOTAL,EUR,NO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.9787,NaN,NaN
382234,WHL,WIT,TOTAL,EUR_T,NO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.4467,NaN,NaN
382235,WHL,WIT,TOTAL,TPW,NO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4000,NaN,NaN

### General check

In [24]:
mainDF.shape

(382236, 27)

In [36]:
mainDF.describe()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,2.826300e+04,3.743500e+04,5.506800e+04,5.452700e+04,6.804900e+04,7.475800e+04,7.489100e+04,9.096200e+04,9.980100e+04,9.697400e+04,...,1.642590e+05,1.914680e+05,1.852260e+05,2.032770e+05,2.079810e+05,1.967780e+05,1.302150e+05,1.372450e+05,1.298360e+05,8.920100e+04
mean,2.181900e+06,2.406947e+06,9.653639e+06,1.099373e+07,9.029300e+06,7.927699e+06,8.896657e+06,7.597905e+06,6.321732e+06,5.822545e+06,...,4.225646e+06,3.530596e+06,4.119175e+06,3.489556e+06,3.159049e+06,2.516176e+06,3.269761e+06,3.250035e+06,3.009861e+06,2.633736e+06
std,1.673933e+07,1.903735e+07,1.035726e+08,1.251543e+08,1.147253e+08,1.022252e+08,1.173032e+08,1.076749e+08,9.449641e+07,8.791418e+07,...,4.461650e+07,4.173952e+07,5.050304e+07,4.323339e+07,3.928271e+07,3.472498e+07,4.156637e+07,4.167433e+07,3.866441e+07,3.270279e+07
min,-1.080196e+03,-5.726340e+03,-6.190809e+02,-3.374911e+04,-2.283159e+04,-2.923485e+04,-1.851069e+04,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.212000e+02,1.184000e+02,2.040000e+02,1.974000e+02,1.182000e+02,1.019504e+02,1.716100e+02,1.460250e+02,9.710000e+01,7.910000e+01,...,8.070960e+01,4.779800e+01,3.580000e+01,4.141000e+01,3.616650e+01,2.323000e+01,4.106000e+01,3.520000e+01,3.357210e+01,3.695500e+01
50%,1.661893e+03,1.787235e+03,2.212724e+03,2.337300e+03,2.000000e+03,2.052800e+03,2.306000e+03,2.080133e+03,1.975000e+03,1.884663e+03,...,1.940352e+03,1.733530e+03,1.750953e+03,1.551744e+03,1.504760e+03,1.484343e+03,1.755034e+03,1.613111e+03,1.515171e+03,1.738291e+03
75%,2.084551e+04,1.929576e+04,3.830780e+04,4.022930e+04,2.398180e+04,2.354185e+04,2.536282e+04,1.953824e+04,1.470841e+04,1.313970e+04,...,1.124471e+04,9.126409e+03,9.772927e+03,8.577300e+03,8.580180e+03,8.250000e+03,1.010320e+04,9.320101e+03,9.066222e+03,1.044718e+04
max,6.540524e+08,1.047244e+09,5.112131e+09,6.379519e+09,6.529695e+09,5.943221e+09,6.795872e+09,7.322345e+09,6.686818e+09,6.248084e+09,...,1.958458e+09,2.139882e+09,2.696236e+09,2.127582e+09,2.113555e+09,2.152023e+09,2.135951e+09,2.194340e+09,2.190319e+09,1.779608e+09

In [35]:
mainDF.describe(include = object)

          pres species dest_use    unit     geo
count   382236  382236   382236  382236  382236
unique      41    1529        3       3      29
top      TOTAL     F00    TOTAL     TPW      EU
freq     63718    3448   182720  132709   61867

-> They are all strings:

IRISH DATA FRAME

In [28]:
irishDF = mainDF[mainDF['geo'] == 'IE']
irishDF

,pres,species,dest_use,unit,geo,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
92,CLA,CRE,HCN,EUR,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2279.2000,4625.9132,8006.8901,22849.4278,17183.6710,NaN,114224.3198
105,CLA,CRE,HCN,EUR_T,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,468.9712,627.6680,600.4417,756.1166,853.0289,NaN,4785.1065
118,CLA,CRE,HCN,TPW,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.8600,7.3700,13.3350,30.2195,20.1443,NaN,23.8708
143,CLA,CRE,TOTAL,EUR,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2279.2000,4625.9132,8006.8901,22849.4278,17183.6710,NaN,NaN
156,CLA,CRE,TOTAL,EUR_T,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,468.9712,627.6680,600.4417,756.1166,853.0289,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381432,UNK,WRF,TOTAL,EUR_T,IE,NaN,NaN,NaN,NaN,NaN,...,2000.000,NaN,NaN,NaN,2000.0000,2000.0000,NaN,NaN,NaN,NaN
381436,UNK,WRF,TOTAL,TPW,IE,NaN,NaN,NaN,NaN,NaN,...,1.099,NaN,NaN,NaN,0.1620,0.3730,NaN,NaN,NaN,NaN
381444,UNK,YRS,TOTAL,EUR,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381446,UNK,YRS,TOTAL,EUR_T,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381448,UNK,YRS,TOTAL,TPW,IE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Reindexing the Irish data frame

In [50]:
# inplace to save memory and dropping the old index columns which would remain otherwise
irishDF.reset_index(inplace = True, drop = True)
irishDF = irishDF.drop('geo', axis=1)
irishDF

,pres,species,dest_use,unit,2000,2001,2002,2003,2004,2005,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CLA,CRE,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2279.2000,4625.9132,8006.8901,22849.4278,17183.6710,NaN,114224.3198
1,CLA,CRE,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,468.9712,627.6680,600.4417,756.1166,853.0289,NaN,4785.1065
2,CLA,CRE,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.8600,7.3700,13.3350,30.2195,20.1443,NaN,23.8708
3,CLA,CRE,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2279.2000,4625.9132,8006.8901,22849.4278,17183.6710,NaN,NaN
4,CLA,CRE,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,468.9712,627.6680,600.4417,756.1166,853.0289,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10142,UNK,WRF,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.000,NaN,NaN,NaN,2000.0000,2000.0000,NaN,NaN,NaN,NaN
10143,UNK,WRF,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,1.099,NaN,NaN,NaN,0.1620,0.3730,NaN,NaN,NaN,NaN
10144,UNK,YRS,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10145,UNK,YRS,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10146,UNK,YRS,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
irishDF.describe()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,2.893000e+03,2.095000e+03,3.032000e+03,2.008000e+03,2.014000e+03,1.910000e+03,1.878000e+03,1.968000e+03,1.866000e+03,2.064000e+03,...,3.126000e+03,2.034000e+03,1.980000e+03,3.846000e+03,3.828000e+03,3.372000e+03,9.030000e+02,1.464000e+03,6.410000e+02,8.670000e+02
mean,3.843752e+05,1.015908e+06,2.369275e+06,5.299102e+06,4.056583e+06,3.282618e+06,7.046261e+06,7.778967e+06,5.625251e+06,4.809590e+06,...,4.894405e+06,6.169077e+06,1.072156e+07,3.378662e+06,4.911704e+06,2.743489e+06,4.873070e+05,8.963829e+05,4.947820e+05,1.102179e+05
std,1.960634e+06,4.831585e+06,1.366171e+07,2.518250e+07,1.882754e+07,1.551653e+07,3.232252e+07,3.563661e+07,2.523517e+07,2.298492e+07,...,2.960729e+07,3.161966e+07,5.777433e+07,2.336874e+07,3.391787e+07,1.764816e+07,3.156235e+06,6.711495e+06,3.094199e+06,6.927590e+05
min,0.000000e+00,0.000000e+00,1.000000e-01,0.000000e+00,1.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-01,0.000000e+00,...,7.000000e-03,2.000000e-02,6.000000e-02,1.700000e-03,2.000000e-03,2.000000e-03,1.020000e-01,5.400000e-03,0.000000e+00,0.000000e+00
25%,5.710000e+01,1.953500e+02,3.805000e+02,7.602000e+02,5.733626e+02,6.000000e+02,6.887000e+02,6.430000e+02,7.760877e+02,6.396000e+02,...,3.407352e+02,7.560600e+02,9.470000e+02,1.104780e+02,2.209186e+02,1.551362e+02,2.365821e+02,2.677004e+02,7.305690e+01,2.320940e+01
50%,1.142764e+03,2.095906e+03,1.803000e+03,3.155735e+03,2.558332e+03,3.014800e+03,3.120164e+03,3.574456e+03,3.200000e+03,2.952865e+03,...,2.000000e+03,2.424454e+03,3.393475e+03,1.065487e+03,1.500000e+03,2.000000e+03,2.376927e+03,2.231978e+03,1.876877e+03,1.394353e+03
75%,6.513756e+03,1.555847e+04,2.614490e+04,1.023109e+05,5.984483e+04,6.461626e+04,8.479200e+04,9.182778e+04,1.057665e+05,5.300488e+04,...,2.088816e+04,8.615991e+04,5.243935e+04,6.956148e+03,1.075500e+04,9.486401e+03,2.036155e+04,1.942178e+04,1.575874e+04,1.000000e+04
max,2.113687e+07,6.547542e+07,1.708116e+08,2.530127e+08,1.938970e+08,1.490479e+08,3.148100e+08,3.642098e+08,2.496685e+08,2.360629e+08,...,3.967362e+08,2.994921e+08,5.079261e+08,3.089532e+08,4.859373e+08,2.921439e+08,4.455483e+07,1.522761e+08,6.162326e+07,1.052125e+07

In [52]:
irishDF.describe(include = object)

         pres species dest_use   unit
count   10147   10147    10147  10147
unique     25     327        3      3
top     TOTAL     F01    TOTAL    TPW
freq     2062     152     5120   3439

In [31]:
irishDF.isnull().sum().sum()

175253

In [53]:
irishDF.head(50)

,pres,species,dest_use,unit,2000,2001,2002,2003,2004,2005,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CLA,CRE,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2279.2000,4625.9132,8006.8901,22849.4278,17183.6710,NaN,114224.3198
1,CLA,CRE,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,468.9712,627.6680,600.4417,756.1166,853.0289,NaN,4785.1065
2,CLA,CRE,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.8600,7.3700,13.3350,30.2195,20.1443,NaN,23.8708
3,CLA,CRE,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2279.2000,4625.9132,8006.8901,22849.4278,17183.6710,NaN,NaN
4,CLA,CRE,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,468.9712,627.6680,600.4417,756.1166,853.0289,NaN,NaN
5,CLA,CRE,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.8600,7.3700,13.3350,30.2195,20.1443,NaN,NaN
6,CLA,F00,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
7,CLA,F00,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
8,CLA,F00,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
9,CLA,F00,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
10,CLA,F00,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
11,CLA,F00,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
12,CLA,F01,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
13,CLA,F01,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
14,CLA,F01,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
15,CLA,F01,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
16,CLA,F01,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
17,CLA,F01,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
18,CLA,F04,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
19,CLA,F04,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
20,CLA,F04,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
21,CLA,F04,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
22,CLA,F04,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
23,CLA,F04,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
24,CLA,F08,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
25,CLA,F08,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
26,CLA,F08,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
27,CLA,F08,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
28,CLA,F08,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
29,CLA,F08,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
30,CLA,F40,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
31,CLA,F40,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
32,CLA,F40,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
33,CLA,F40,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
34,CLA,F40,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
35,CLA,F40,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
36,CLA,F42,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
37,CLA,F42,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
38,CLA,F42,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
39,CLA,F42,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36416.2000,4625.9132,8006.8901,22849.4278,67403.8528,NaN,NaN
40,CLA,F42,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,933.8206,627.6680,600.4417,756.1166,624.1860,NaN,NaN
41,CLA,F42,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.9970,7.3700,13.3350,30.2195,107.9868,NaN,NaN
42,CLA,KEF,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33486.0000,NaN,NaN,NaN,NaN,NaN,NaN
43,CLA,KEF,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000.0000,NaN,NaN,NaN,NaN,NaN,NaN
44,CLA,KEF,HCN,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.4860,NaN,NaN,NaN,NaN,NaN,NaN
45,CLA,KEF,TOTAL,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33486.0000,NaN,NaN,NaN,NaN,NaN,NaN
46,CLA,KEF,TOTAL,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000.0000,NaN,NaN,NaN,NaN,NaN,NaN
47,CLA,KEF,TOTAL,TPW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.4860,NaN,NaN,NaN,NaN,NaN,NaN
48,CLA,SCR,HCN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,651.0000,NaN,NaN,NaN,50220.1818,NaN,NaN
49,CLA,SCR,HCN,EUR_T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000.0000,NaN,NaN,NaN,571.7071,NaN,NaN